{% extends './base.html'%}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-5" style="background-image: url({% static 'reservation/media-voiture/v9.jpg' %});">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Location de Voiture</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase" style="background-color: initial;">
                    <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>                        
                    <li class="breadcrumb-item"><a href="{% url 'contact'%}">Contact</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'about'%}">About</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Booking Start -->
<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <form method="GET" action="{% url 'recherche_voiture' %}">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-3">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" name="date_debut" placeholder="Check in" data-target="#date1" data-toggle="datetimepicker" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="date" id="date2" data-target-input="nearest"> 
                                    <input type="text" class="form-control datetimepicker-input" name="date_fin" placeholder="Check out" data-target="#date2" data-toggle="datetimepicker"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <select class="form-select" id="hour1">
                                    <option selected disabled>Heure</option>
                                    <option value="0">00:00</option>
                                    <option value="1">01:00</option>
                                    <option value="2">02:00</option>
                                    <option value="3">03:00</option>
                                    <option value="4">04:00</option>
                                    <option value="5">05:00</option>
                                    <!-- Ajoutez les options pour les heures jusqu'à 23 -->
                                </select>
                            </div>

                            <div class="col-md-3">
                                <select class="form-select" id="hour2">
                                    <option selected disabled>Heure</option>
                                    <option value="0">00:00</option>
                                    <option value="1">01:00</option>
                                    <option value="2">02:00</option>
                                    <option value="3">03:00</option>
                                    <option value="4">04:00</option>
                                    <option value="5">01:00</option>
                                    <!-- Ajoutez les options pour les heures jusqu'à 23 -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary w-100">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Booking End -->


<div class="row g-3 align-items-center container">
    <h1>Réservation de voiture</h1>
    <form method="POST" action="{% url 'confirmationVoiture' %}" class="container" style="width: 70%;">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="hidden" name="date_debut" value="{{ date_debut }}">
        <input type="hidden" name="date_fin" value="{{ date_fin }}">
        <input type="submit" value="Réserver">
    </form>
</div>



{% endblock %}